* {
  font-family: Proxima-Nova;
  font-style: normal;
}

.body, html {
  width: 100%;
  background-color: #E5E5E5;
  scroll-behavior: smooth;
}

.head {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .head {
    height: 70px;
  }
}
.head .salad {
  position: fixed;
  z-index: 55;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: bye 1s 2s both;
}
@media screen and (max-width: 1024px) {
  .head .salad {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .head .salad {
    display: none;
  }
}
.head .salad img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  animation: byebye 1s 1.5s both;
}
@keyframes bye {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes byebye {
  0% {
    width: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 12%;
    transform: translate(-248%, -260%);
  }
}
.head .list {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 80px;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/Rectangle.png);
  background-size: cover;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .head .list {
    padding: 80px 20px 20px 20px;
  }
}
.head .list .listinner {
  margin: auto;
  width: calc(100vw - 400px);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner {
    justify-content: center;
  }
}
.head .list .listinner .lil {
  width: 33.3333%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lil {
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 33.333333%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lil {
    margin-bottom: 10px;
    width: 100%;
    flex-direction: column;
    height: 33.333333%;
  }
}
.head .list .listinner .lil .abus::before {
  content: "";
  position: absolute;
  background-image: url(../image/1.svg);
  background-size: cover;
  width: 50px;
  height: 70px;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lil .abus::before {
    display: none;
  }
}
.head .list .listinner .lil .abus {
  width: 100%;
  height: 30%;
  background-color: #26C6D0;
  background-image: url(../image/video-thumbnail.png);
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lil .abus {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lil .abus {
    margin-bottom: 5px;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lil .abus:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.head .list .listinner .lil .abus h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #fff;
}
.head .list .listinner .lil .abus h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #fff;
  position: relative;
}
.head .list .listinner .lil .abus h3 span {
  left: 180px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #EE6C8A;
}
.head .list .listinner .lil .work::before {
  content: "";
  position: absolute;
  background-image: url(../image/2.svg);
  background-size: cover;
  width: 60px;
  height: 60px;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lil .work::before {
    display: none;
  }
}
.head .list .listinner .lil .work {
  position: relative;
  width: 100%;
  height: 45%;
  background-color: #EE6C8A;
  background-image: url(../image/ChampionREIT-Showcase.png);
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lil .work {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lil .work {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lil .work:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.head .list .listinner .lil .work h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #fff;
}
.head .list .listinner .lil .work h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #fff;
  position: relative;
}
.head .list .listinner .lil .work h3 span {
  left: 120px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #26C6D0;
}
.head .list .listinner .lim {
  width: 30.3333%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lim {
    width: 100%;
    flex-direction: row;
    height: 33.333333%;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lim {
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 33.333333%;
  }
}
.head .list .listinner .lim .caree::before {
  content: "";
  position: absolute;
  background-image: url(../image/3.svg);
  background-size: cover;
  width: 90px;
  height: 45px;
  left: 20px;
  bottom: 120px;
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lim .caree::before {
    display: none;
  }
}
.head .list .listinner .lim .caree {
  position: relative;
  width: 65%;
  height: 60%;
  background-color: #E6A94E;
  background-image: url(../image/DigiSalad-Promotional-Video-Storyboard-v1-14.png);
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lim .caree {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lim .caree {
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lim .caree:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.head .list .listinner .lim .caree h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #fff;
}
.head .list .listinner .lim .caree h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #fff;
  position: relative;
}
.head .list .listinner .lim .caree h3 span {
  left: 160px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #EE6C8A;
}
.head .list .listinner .lim .insig::before {
  content: "";
  position: absolute;
  background-image: url(../image/4.svg);
  background-size: cover;
  width: 20px;
  height: 70px;
  left: 30px;
  bottom: 100px;
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lim .insig::before {
    display: none;
  }
}
.head .list .listinner .lim .insig {
  position: relative;
  width: 65%;
  height: 35%;
  background-color: #26D0A8;
  background-image: url(../image/DigiSalad-Promotional-Video-Storyboard-v1-13.png);
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lim .insig {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lim .insig {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lim .insig:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.head .list .listinner .lim .insig h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #fff;
}
.head .list .listinner .lim .insig h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #fff;
  position: relative;
}
.head .list .listinner .lim .insig h3 span {
  left: 160px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #EE6C8A;
}
.head .list .listinner .lir {
  width: 33.3333%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lir {
    width: 100%;
    flex-direction: row;
    height: 33.333333%;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lir {
    width: 100%;
    flex-direction: column;
    height: 33.333333%;
  }
}
.head .list .listinner .lir .serv::before {
  content: "";
  position: absolute;
  background-image: url(../image/10.svg);
  background-size: cover;
  width: 32px;
  height: 60px;
  left: 30px;
  bottom: 110px;
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lir .serv::before {
    display: none;
  }
}
.head .list .listinner .lir .serv {
  position: relative;
  width: 100%;
  height: 45%;
  background-color: #585880;
  background-image: url(../image/DigiSalad-Promotional-Video-Storyboard-v1-24.png);
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lir .serv {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lir .serv {
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lir .serv:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.head .list .listinner .lir .serv h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #fff;
}
.head .list .listinner .lir .serv h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #fff;
  position: relative;
}
.head .list .listinner .lir .serv h3 span {
  left: 170px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #EE6C8A;
}
.head .list .listinner .lir .contac {
  width: 100%;
  height: 30%;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px 20px;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .head .list .listinner .lir .contac {
    width: 45%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .head .list .listinner .lir .contac {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
.head .list .listinner .lir .contac:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.head .list .listinner .lir .contac h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: #262626;
}
.head .list .listinner .lir .contac h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 3.36px;
  color: #26C6D0;
  position: relative;
}
.head .list .listinner .lir .contac h3 span {
  left: 160px;
  bottom: 5px;
  position: absolute;
  font-size: 48px;
  color: #EE6C8A;
}
@keyframes opain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes aside {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes asidego {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
.head .headinner {
  width: 100%;
  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .head .headinner {
    padding: 0px 20px;
  }
}
.head .headinner .bre {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 60px;
}
@media screen and (max-width: 768px) {
  .head .headinner .bre {
    box-sizing: border-box;
    padding: 20px;
  }
}
.head .headinner .bre img {
  width: 85%;
}
.head .headinner .logo:hover {
  cursor: pointer;
}
.head .headinner .logo .logoinner {
  animation: logo 1s revert;
  display: flex;
  align-items: center;
}
.head .headinner .logo .logoinner img {
  width: 100%;
  height: 100%;
}
.head .headinner .start {
  display: flex;
  align-items: center;
}
.head .headinner .start .startbtn.close {
  transform: scale(0);
}
.head .headinner .start .startbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border: none;
  padding: 14px 14px;
  border-radius: 24px;
  background: linear-gradient(90deg, #4EE5EA 3.94%, #26D0A8 94.73%);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.14px;
  text-align: center;
  transition: 0.3s;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .head .headinner .start .startbtn {
    display: none;
  }
}
.head .headinner .start .startbtn:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.head .headinner .start .hamber {
  margin: 0 20px;
  height: 21px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.head .headinner .start .hamber:hover {
  cursor: pointer;
}
.head .headinner .start .hamber .path {
  position: absolute;
  top: 0;
  border-radius: 3px;
  transition: 0.3s;
  background-color: #fff;
  width: 30px;
  height: 3px;
}
.head .headinner .start .hamber .path:nth-child(1) {
  top: 0px;
}
.head .headinner .start .hamber .path:nth-child(2) {
  top: 9px;
}
.head .headinner .start .hamber .path:nth-child(3) {
  top: 18px;
  width: 26px;
}
.head .headinner .start .hamber:hover .path:nth-child(3) {
  width: 30px;
}

@keyframes hamber {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logoback {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.intro {
  width: 100%;
}
.intro .video {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 56.25%;
  width: 100%;
  height: 100vh;
  border-radius: 0px 0px 50px 50px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .intro .video {
    padding-bottom: 133%;
  }
}
.intro .video iframe {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  width: 140%;
  height: 140%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(3px);
}
.intro .video .introinner {
  position: absolute;
  box-sizing: border-box;
  padding: 10% 60px 0px 60px;
  left: 50%;
  transform: translate(-55%, 0%);
  width: 100%;
  max-width: 1020px;
}
@media screen and (max-width: 768px) {
  .intro .video .introinner {
    transform: translate(-50%, 0%);
    padding: 50% 0px 0px 0px;
  }
}
.intro .video .introinner .mark {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .intro .video .introinner .mark {
    display: none;
  }
}
.intro .video .introinner .mark img {
  width: 100%;
}
.intro .video .introinner .crea {
  font: Proxima Nova;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 9.17px;
  line-height: 70px;
}
@media screen and (max-width: 768px) {
  .intro .video .introinner .crea {
    text-align: center;
  }
}
.intro .video .introinner .crea::before {
  content: ".";
  position: absolute;
  bottom: 7px;
  left: 635px;
  font-size: 60px;
  color: #EE6C8A;
}
@media screen and (max-width: 768px) {
  .intro .video .introinner .crea::before {
    display: none;
  }
}
.intro .video .introinner .crea::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 60px;
  background-color: #26C6D0;
  width: 0px;
  height: 8px;
  z-index: -1;
  animation: go 1s 2.5s both;
}
@media screen and (max-width: 1024px) {
  .intro .video .introinner .crea::after {
    left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .intro .video .introinner .crea::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes go {
  0% {
    width: 0;
  }
  100% {
    width: 570px;
  }
}
.intro .video .introinner::before {
  content: "DIGITAL AGENCY";
  position: absolute;
  transform: rotate(-90deg);
  font-size: 16px;
  font-weight: 700;
  left: -145px;
  top: 270px;
  color: #fff;
}
.intro .video .introinner::after {
  content: "";
  position: absolute;
  left: -137px;
  width: 113px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-90deg);
  top: 420px;
}

.godown {
  transform: translateY(-180px);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.godown img {
  width: 65px;
  border-radius: 100%;
  animation: bumb 1s infinite;
}
.godown img:hover {
  cursor: pointer;
}
.godown p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
}

@keyframes bumb {
  0% {
    box-shadow: #fff 0 0 0 0;
  }
  100% {
    box-shadow: rgba(255, 255, 255, 0.0588235294) 0 0 0 25px;
  }
}
.godown::after {
  content: "";
  position: absolute;
  height: 45px;
  width: 1px;
  background-color: #fff;
  top: 135px;
}

.godown::before {
  content: "";
  position: absolute;
  height: 85px;
  width: 1px;
  background-color: #808080;
  top: 180px;
}

.about {
  background-color: #E5E5E5;
  padding: 120px 0px 70px 0px;
  width: 100%;
}
.about .aboutinner.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.about .aboutinner {
  width: 100%;
  max-width: 960px;
  margin: auto;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.about .aboutinner .subt {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .about .aboutinner .subt {
    display: flex;
  }
}
.about .aboutinner .subt img:nth-child(1) {
  transform: translateX(2px);
}
@media screen and (max-width: 768px) {
  .about .aboutinner .subt img:nth-child(1) {
    display: none;
  }
}
.about .aboutinner .subt img:nth-child(2) {
  transform: translateX(-2px);
}
.about .aboutinner h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3.63px;
  line-height: 34px;
  text-align: center;
  padding-bottom: 100px;
  background-color: #E5E5E5;
}
@media screen and (max-width: 768px) {
  .about .aboutinner h2 {
    font-size: 22px;
  }
}
.about .aboutinner h2 span {
  font-size: 48px;
  color: #EE6C8A;
}
.about .aboutinner .video.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.about .aboutinner .video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.about .aboutinner .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 544px;
}
.about .aboutinner p.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.about .aboutinner p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
  margin: 30px 0px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.about .aboutinner .more::after {
  content: "";
  position: absolute;
  background-color: #35355a;
  width: 223px;
  height: 0px;
  z-index: -1;
  left: 0;
  transition: 0.3s;
}
.about .aboutinner .more {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 223px;
  height: 86px;
  background-color: #26C6D0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about .aboutinner .more:hover::after {
  height: 86px;
}
.about .aboutinner .more:hover {
  cursor: pointer;
}
.about .aboutinner .more p {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.22px;
  line-height: 19px;
  color: #fff;
}
.about .aboutinner .more .path {
  width: 52px;
  height: 2px;
  background-color: #fff;
}

.award {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.award .awardinner {
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  max-width: 1346px;
  padding: 65px;
  border-radius: 50px 0px 50px 50px;
}
@media screen and (max-width: 1024px) {
  .award .awardinner {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .award .awardinner {
    display: block;
    padding: 30px;
  }
}
.award .awardinner .use {
  position: relative;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .award .awardinner .use {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .award .awardinner .use {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.award .awardinner .use h2.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.award .awardinner .use h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 3.63px;
  line-height: 34px;
  padding-left: 20px;
  margin-bottom: 60px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .award .awardinner .use h2 {
    font-size: 22px;
    padding-left: 0;
  }
}
.award .awardinner .use span {
  font-size: 48px;
  color: #EE6C8A;
  padding-left: 5px;
}
.award .awardinner .use .subt.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.award .awardinner .use .subt {
  position: absolute;
  top: 50px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.award .awardinner .use p.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.award .awardinner .use p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .award .awardinner .use p {
    text-align: center;
  }
}
.award .awardinner .type {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .award .awardinner .type {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .award .awardinner .type {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.award .awardinner .type img.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.award .awardinner .type img {
  width: 50%;
  paddong: 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .award .awardinner .type img {
    width: 100%;
  }
}

.ingrad {
  transform: translateY(-216px);
  width: 100%;
  height: 2898px;
  background-color: #26C6D0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .ingrad {
    height: 100%;
    padding: 100px 20px;
    transform: translateY(0px);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .ingrad {
    height: 100%;
    box-sizing: border-box;
    padding: 100px 20px;
    transform: translateY(0px);
  }
}
.ingrad .ingradinner.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner {
  padding-top: 316px;
  width: 100%;
  max-width: 1140px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner {
    padding: 30px;
  }
}
.ingrad .ingradinner h2.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 3.63px;
  line-height: 34px;
  padding-left: 20px;
  text-align: center;
  color: #fff;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner h2 {
    font-size: 20px;
  }
}
.ingrad .ingradinner span {
  font-size: 48px;
  color: #EE6C8A;
  padding-left: 10px;
}
.ingrad .ingradinner .subt.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner .subt {
  top: 366px;
  display: flex;
  justify-content: center;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .subt {
    top: 80px;
    display: flex;
  }
}
.ingrad .ingradinner .subt img:nth-child(1) {
  transform: translateX(2px);
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .subt img:nth-child(1) {
    display: none;
  }
}
.ingrad .ingradinner .subt img:nth-child(2) {
  transform: translateX(-2px);
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .subt img:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.ingrad .ingradinner .morep.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner .morep {
  padding-top: 70px;
  padding-bottom: 40px;
  max-width: 1007px;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 28px;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.ingrad .ingradinner .more::after {
  content: "";
  position: absolute;
  background-color: #35355a;
  width: 294px;
  height: 0px;
  z-index: -1;
  left: 0;
  transition: 0.3s;
}
.ingrad .ingradinner .more.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner .more {
  z-index: 1;
  position: relative;
  margin: auto;
  width: 294px;
  height: 92px;
  background-color: #585880;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.ingrad .ingradinner .more:hover::after {
  height: 92px;
}
.ingrad .ingradinner .more:hover {
  cursor: pointer;
}
.ingrad .ingradinner .more p {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.22px;
  line-height: 19px;
  color: #fff;
}
.ingrad .ingradinner .more .path {
  width: 68px;
  height: 2px;
  background-color: #fff;
}
.ingrad .ingradinner .design {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ingrad .ingradinner .design .designinner.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner .design .designinner {
  margin-top: 60px;
  width: 33.333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  .ingrad .ingradinner .design .designinner {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .design .designinner {
    width: 100%;
  }
}
.ingrad .ingradinner .design .designinner .lo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 108px;
  background-color: #fff;
  border-radius: 100%;
}
.ingrad .ingradinner .design .designinner h3 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.ingrad .ingradinner .design .designinner p {
  padding: 0px 20px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.ingrad .ingradinner .design .designinner .view {
  margin-top: 30px;
  padding: 20px 35px;
  border-radius: 100px;
  border: solid 2px #fff;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.22px;
  transition: 0.3s;
}
.ingrad .ingradinner .design .designinner .view:hover {
  cursor: pointer;
  background-color: #fff;
  color: #26C6D0;
}
.ingrad .ingradinner .morev.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.ingrad .ingradinner .morev {
  position: relative;
  margin-top: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .morev {
    font-size: 12px;
  }
}
.ingrad .ingradinner .morev::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFBC58;
  width: 420px;
  height: 10px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .ingrad .ingradinner .morev::after {
    width: 100%;
  }
}

.tony {
  transform: translateY(-500px);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .tony {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 768px) {
  .tony {
    transform: translateY(0px);
  }
}
.tony .tonyinner {
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  background-image: url(../image/shutterstock.png);
  background-size: cover;
  width: 100%;
  max-width: 1346px;
  padding: 100px 65px;
  border-radius: 0px 50px 50px 50px;
}
@media screen and (max-width: 1024px) {
  .tony .tonyinner {
    padding: 40px 65px;
  }
}
@media screen and (max-width: 768px) {
  .tony .tonyinner {
    display: block;
  }
}
.tony .tonyinner .use.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.tony .tonyinner .use {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  .tony .tonyinner .use {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .tony .tonyinner .use {
    width: 100%;
  }
}
.tony .tonyinner .use .circle {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}
.tony .tonyinner .use .circle img {
  width: 100%;
}
.tony .tonyinner .use h4 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.tony .tonyinner .use p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
  color: #fff;
}
.tony .tonyinner .type.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.tony .tonyinner .type {
  width: 60%;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .tony .tonyinner .type {
    width: 100%;
  }
}
.tony .tonyinner .type .bibi {
  width: 90px;
  height: 90px;
  margin: auto;
}
.tony .tonyinner .type .bibi img {
  width: 100%;
}
.tony .tonyinner .type p {
  font-size: 22px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .tony .tonyinner .type p {
    line-height: 24px;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
  }
}
.tony .tonyinner .type p strong {
  color: #FFBC58;
}

.brand {
  width: 100%;
  background-color: #fff;
  margin-top: -850px;
  padding-top: 425px;
}
@media screen and (max-width: 1024px) {
  .brand {
    box-sizing: border-box;
    margin-top: 0;
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .brand {
    box-sizing: border-box;
    margin-top: 0;
    padding: 30px;
  }
}
.brand .brandinner {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
.brand .brandinner h2.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.brand .brandinner h2 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 3.63px;
  line-height: 34px;
  text-align: center;
  color: #000;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.brand .brandinner span {
  font-size: 48px;
  color: #EE6C8A;
  padding-left: 10px;
}
.brand .brandinner .subt.sideinin {
  transform: translate(-50%, 0px);
  opacity: 1;
  transition: 0.5s;
}
.brand .brandinner .subt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30px);
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 1024px) {
  .brand .brandinner .subt {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .brand .brandinner .subt {
    display: flex;
  }
}
.brand .brandinner .subt img:nth-child(1) {
  transform: translateX(50px);
}
.brand .brandinner .subt img:nth-child(2) {
  transform: translateX(-58px);
}
.brand .brandinner .subt img:nth-child(3) {
  transform: translateX(-63px);
}
@media screen and (max-width: 768px) {
  .brand .brandinner .subt img:nth-child(3) {
    display: none;
  }
}
.brand .brandinner p.sideinin {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.brand .brandinner p {
  margin-top: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #262626;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
}
.brand .brandinner .client {
  width: 100%;
  margin-top: 70px;
}
.brand .brandinner .client img {
  width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  align-items: center;
  padding: 200px 0px;
}
.banner .bannerimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  height: 105%;
  background-blend-mode: normal, multiply;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.25);
  z-index: -1;
  animation: backin 20s infinite;
}
.banner .bannerinner {
  margin: auto;
  width: 100%;
  max-width: 1040px;
  display: flex;
  justify-content: center;
  position: relative;
}
.banner .bannerinner .math {
  position: absolute;
  right: -100px;
  transform: translateY(-100%);
  display: flex;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2.22px;
  line-height: 19px;
}
.banner .bannerinner .math .numm {
  transform: rotate(45deg);
  width: 1px;
  height: 40px;
  background-color: #26C6D0;
}
.banner .bannerinner .math .numf {
  padding-right: 5px;
  display: flex;
  align-items: flex-start;
  color: #fff;
}
.banner .bannerinner .math .numl {
  padding-left: 5px;
  display: flex;
  align-items: flex-end;
  color: #fff;
}
.banner .bannerinner .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle {
    padding: 20px;
    flex-direction: column;
  }
}
.banner .bannerinner .middle .arrowl {
  background-color: #26C6D0;
  border-radius: 100%;
  top: 50%;
  transition: 0.3s;
  left: 0px;
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .arrowl {
    display: none;
  }
}
.banner .bannerinner .middle .arrowl img {
  width: 100%;
}
.banner .bannerinner .middle .arrowl:hover {
  cursor: pointer;
}
.banner .bannerinner .middle .arrowr {
  background-color: #26C6D0;
  border-radius: 100%;
  top: 50%;
  transition: 0.3s;
  transform: rotate(180deg);
  right: 0px;
}
.banner .bannerinner .middle .arrowr img {
  width: 100%;
}
.banner .bannerinner .middle .arrowr:hover {
  cursor: pointer;
}
.banner .bannerinner .middle .box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box {
    flex-wrap: wrap;
  }
}
.banner .bannerinner .middle .box .product {
  width: 50%;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .product {
    order: 2;
    padding: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .product {
    order: 2;
    padding: 20px;
    width: 100%;
  }
}
.banner .bannerinner .middle .box .product img {
  border-radius: 40px;
  width: 100%;
}
.banner .bannerinner .middle .box .product .more::after {
  content: "";
  position: absolute;
  background-color: #35355a;
  width: 300px;
  height: 0px;
  z-index: -1;
  left: 0;
  transition: 0.3s;
}
.banner .bannerinner .middle .box .product .more {
  z-index: 1;
  position: absolute;
  right: -60px;
  bottom: -100px;
  width: 300px;
  height: 140px;
  background-color: #585880;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .product .more {
    right: 0;
    bottom: 0;
    top: 50%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .product .more {
    display: none;
  }
}
.banner .bannerinner .middle .box .product .more:hover::after {
  height: 140px;
}
.banner .bannerinner .middle .box .product .more:hover {
  cursor: pointer;
}
.banner .bannerinner .middle .box .product .more p {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.22px;
  line-height: 19px;
  color: #fff;
}
.banner .bannerinner .middle .box .product .more .path {
  width: 70px;
  height: 2px;
  background-color: #fff;
}
.banner .bannerinner .middle .box .protro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 45%;
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .protro {
    width: 100%;
  }
}
.banner .bannerinner .middle .box .protro h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.22px;
  line-height: 19px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .protro h3 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .protro h3 {
    font-size: 12px;
    text-align: center;
  }
}
.banner .bannerinner .middle .box .protro h2 {
  width: 100%;
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3.63px;
  line-height: 39px;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .protro h2 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .protro h2 {
    letter-spacing: 1.8px;
    font-size: 18px;
    text-align: center;
  }
}
.banner .bannerinner .middle .box .protro h2 .subt {
  position: absolute;
  bottom: 6px;
  left: -6px;
  z-index: -1;
  width: 355px;
  height: 6px;
  background-color: #26C6D0;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .protro h2 .subt {
    left: -20px;
    right: 0px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .protro h2 .subt {
    width: 70%;
    left: -20px;
    right: 0px;
    margin: auto;
  }
}
.banner .bannerinner .middle .box .protro h2 span {
  font-size: 48px;
  color: #EE6C8A;
  padding-left: 10px;
}
.banner .bannerinner .middle .box .protro p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .banner .bannerinner .middle .box .protro p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .banner .bannerinner .middle .box .protro p {
    display: none;
  }
}

@keyframes more {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}
@keyframes right {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
@keyframes rightin {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes back {
  0% {
    transform: translate(-50%, -50%) scale(100%);
  }
  100% {
    transform: translate(-50%, -50%) scale(102%);
  }
}
@keyframes backin {
  0% {
    transform: translate(-50%, -50%) scale(120%);
  }
  50% {
    transform: translate(-50%, -50%) scale(100%);
  }
  100% {
    transform: translate(-50%, -50%) scale(120%);
  }
}
@keyframes backmode {
  0% {
    transform: translate(-50%, -50%) scale(10%);
  }
  100% {
    transform: translate(-50%, -50%) scale(110%);
  }
}