<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/wel8ibk.css">
    
    <title>DigiSaLad</title>
</head>
<body>
    <div id="App">
        <header class="head">
            <div class="salad"><img src="./image/Frame.svg" alt=""></div>
            <div class="list">
                <div class="listinner">
                    <div class="lil">
                        <div class="abus aside">
                            <h4>EMPOWERING BRANDS</h4>
                            <h3>ABOUT US<span>&nbsp.</span></h3>
                        </div>
                        <div class="work aside">
                            <h4>CASE STUDIES</h4>
                            <h3>WORKS<span>&nbsp.</span></h3>
                        </div>
                    </div>
                    <div class="lim">
                        <div class="caree aside">
                            <h4>BE COOL WITH US</h4>
                            <h3>CAREERS<span>&nbsp.</span></h3>
                        </div>
                        <div class="insig aside">
                            <h4>OUR STRATEGIES</h4>
                            <h3>INSIGHTS<span>&nbsp.</span></h3>
                        </div>
                    </div>
                    <div class="lir">
                        <div class="serv aside">
                            <h4>AREAS OF EXPERTISE</h4>
                            <h3>SERVICES<span>&nbsp.</span></h3>
                        </div>
                        <div class="contac aside">
                            <h4>START YOUR JOURNEY WITH US</h4>
                            <h3>CONTACT<span>&nbsp.</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headinner">
                <div class="logo">
                    <h1 class="logoinner">
                        <img v-show="open" src="./image/Frame.svg" alt="">
                    </h1>
                </div>
                <div class="bre"><img v-show="!check" src="./image/Logo.svg" alt="logo"></div>
                <div class="start">
                    <button class="startbtn">START YOUR PROJECT</button>
                    <div class="hamber" @click="hamber">
                        <div class="path"></div>
                        <div class="path"></div>
                        <div class="path"></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="intro">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/8_4JRK4QkqU?autoplay=1&loop=1&mute=1&controls=0&showinfo=0&autohide=1&modestbranding=1&playlist=8_4JRK4QkqU" frameborder="0" allowfullscreen allow="autoplay" ></iframe>
                <div class="introinner">
                    <div class="mark"><img src="./image/logowhite.svg" alt=""></div>
                    <p class="crea">WE CREATE<br>AMAZING<br>DIGITAL EXPERIENCES</p>
                </div>
            </div>
        </section>
        <div class="godown">
            <a href="#intro"><img src="./image/scrolldown.svg" alt=""></a>
            <p>TASTE US NOW!</p>
        </div>
        <section id="intro" class="about">
            <div class="aboutinner sidein">
                <h2 class="sidein">&nbspABOUT DIGISALAD<span>&nbsp.</span></h2>
                <div class="subt sidein">
                    <img src="./image/about1.svg" alt=""><img src="./image/about2.svg" alt="">
                </div>
                <div class="video sidein">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IeIRJ9jZ5Ro?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <p class="sidein">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
                <div class="more sidein">
                    <p class="sidein">VIEW MORE</p>
                    <div class="path"></div>
                </div>
            </div>
        </section>
        <section class="award">
            <div class="awardinner">
                <div class="use">
                    <h2 class="sidein">AWARDS<span>.</span></h2>
                    <div class="subt sidein">
                        <img src="./image/about1.svg" alt="">
                    </div>
                    <p class="sidein">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. </p>
                </div>
                <div class="type">
                    <img class="sidein" v-for="img in imgs" :key="img" :src="img" alt="">
                </div>
            </div>
        </section>
        <section class="ingrad">
            <div class="ingradinner sidein">
                <h2 class="sidein">OUR INGRADIENTS<span>.</span></h2>
                <div class="subt sidein">
                    <img src="./image/our1.svg" alt=""><img src="./image/our2.svg" alt="">
                </div>
                <p class="morep sidein">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
                <div class="more sidein">
                    <p>OUR SERVICES</p>
                    <div class="path"></div>
                </div>
                <div class="design">
                    <div class="designinner sidein" v-for="card in cards" :key="card">
                        <div class="lo"><img :src="`./image/${card['logo']}.svg`" alt="圖案"></div>
                        <h3>{{card['h3']}}</h3>
                        <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare.</p>
                        <div class="view">VIEW MORE</div>
                    </div>
                </div>
                <p class="morev sidein">VIEW MORE DIGISALAD’S INGRADIENTS</p>
            </div>
        </section> 
        <section class="tony">
            <div class="tonyinner">
                <div class="use sidein">
                    <div class="circle"><img src="./image/human.png" alt=""></div>
                    <h4>TONY NG</h4>
                    <p>Founder & Creative Director</p>
                </div>
                <div class="type sidein">
                    <div class="bibi"><img src="./image/quote.svg" alt=""></div>
                    <p>A great digital work isn’t about designing beautiful pages purely. It is about context - how do we deliver the <strong>right experience to the right person at the right time</strong>. The most important thing is that your work can engage customers at anytime, anywhere and let users experience an entire amazing digital journey.</p>
                </div>
            </div>
        </section>
        <section class="brand">
            <div class="brandinner">
                <h2 class="sidein">OUR BRAND EXPERIENCE<span>.</span></h2>
                <div class="subt sidein">
                    <img src="./image/about1.svg" alt=""><img src="./image/about1.svg" alt=""><img src="./image/about1.svg" alt="">
                </div>
                <p class="sidein">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
                <div class="client">
                    <img src="./image/DigiSalad-Client-List.png" alt="">
                </div>
            </div>
        </section>
        <section class="banner">
            <div class="bannerimg" v-for="gg in ggs" v-show="showImage(gg)" :style="{backgroundImage: `url(./image/${count}.png)`}"></div>
            <div class="bannerinner">
                <div class="math">
                    <div class="numf">01</div>
                    <div class="numm"></div>
                    <div class="numl">04</div>
                </div>
                <div class="middle">
                    <div class="arrowl" @click="left">
                        <img src="./image/next.svg" alt="">
                    </div>
                    <div class="box">
                        <div class="product">
                            <img v-for="gg in ggs" v-show="showImage(gg)" :src=`./image/${count}.png` alt="">
                            <!-- <img src="./image/1.png" alt=""> -->
                            <div class="more">
                                <p>VIEW PROJECT</p>
                                <div class="path"></div>
                            </div>
                        </div>
                        <div class="protro">
                            <h3>HIGHLIGHTED SHOWCASE</h3>
                            <h2>LP CLUB MOBILE APP<span>.</span>
                                <div class="subt"></div>
                            </h2>
                            <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
                        </div>
                    </div>
                    <div class="arrowr" @click="right">
                        <img src="./image/next.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./all.js"></script>
</body>
</html>